<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037221598384-tfv8tcjd3pikrs1ocu2v28k47gg08ie7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037221598384-tfv8tcjd3pikrs1ocu2v28k47gg08ie7</string>
	<key>API_KEY</key>
	<string>AIzaSyDlVXOoIl7YFO0CrnZU_0HLEK-2ccUFtBc</string>
	<key>GCM_SENDER_ID</key>
	<string>1037221598384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.namdong.InstagramFirebaseTutorial</string>
	<key>PROJECT_ID</key>
	<string>instagramfirestoretutori-1a431</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirestoretutori-1a431.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037221598384:ios:9275e9978575f31df4d775</string>
</dict>
</plist>